<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets</title>
</head>
<body>
<div>
    <h1>PETS!</h1>
</div>

<img src="images/pets.jpg" alt="Some pets">

<p>Animals</p>
<ul>
    <li>Dog</li>
    <li>Cat</li>
    <li>Hamster</li>
</ul>
<div>
    <button>This button does nothing</button>
</div>

</body>
</html>